@* Homy Admin Dashboard - Footer *@

<footer class="main-footer">
    <p>&copy; @DateTime.Now.Year هومي - جميع الحقوق محفوظة | صُنع بـ <i class="fas fa-heart text-danger"></i> في صعيد مصر</p>
</footer>
