@model ErrorViewModel
@{
    ViewData["Title"] = "خطأ";
}

<h1 class="text-danger">خطأ</h1>
<h2 class="text-danger">حدث خطأ أثناء معالجة طلبك.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>رقم الطلب:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>وضع التطوير</h3>
<p>
    التحويل إلى بيئة <strong>Development</strong> سيعرض معلومات أكثر تفصيلاً حول الخطأ الذي حدث.
</p>
<p>
    <strong>لا يجب تفعيل بيئة التطوير للتطبيقات المنشورة.</strong>
    يمكن أن يؤدي ذلك إلى عرض معلومات حساسة من الاستثناءات للمستخدمين النهائيين.
    لتصحيح الأخطاء محلياً، قم بتفعيل بيئة <strong>Development</strong> عن طريق تعيين متغير البيئة <strong>ASPNETCORE_ENVIRONMENT</strong> إلى <strong>Development</strong>
    وإعادة تشغيل التطبيق.
</p>
