@model IEnumerable<Homy.Application.Dtos.UserDtos.UserSubDTOs.UserSubReadDTO>


<h2>اشتراكات هتنتهي قريب</h2>


<table class="table table-warning">
    <tr>
        <th>User</th>
        <th>End Date</th>
        <th>Status</th>
    </tr>
    @foreach (var sub in Model)
    {
        <tr>
            <td>@sub.UserName</td>
            <td>@sub.EndDate.ToShortDateString()</td>
            <td>@(sub.IsActive ? "Active" : "Inactive")</td>
        </tr>
    }
</table>